/**
  * site.css
  *
  * Provide css for the application.
  */

/* For angular-bootstrap */
/*.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }*/

body {
  /*padding-top: 55px;*/
  /*font-family: sans-serif;*/
  /*font-size: small;*/
  background-color: #EEEEEE;
}

#errorNoDomain {
  padding: 50px;
}

.logo {
  height: 25px;
  vertical-align: middle;
}

.status_OK {
    color: green;
}

.columnNames {
    font-weight: bold;
}

.rh-property .type {
  font-style: italic;
}
.rh-property .name {
  font-style: italic;
}
.rh-property .value {

}

.alerts {
  position: absolute;
  top: 80px;
  left: 20px;
  right: 20px;
}

.table {
  font-size: small;
}

#plot {
  height: 300px;
  width: 90%;
	box-shadow: 5px 5px 5px #888888;
	border-style: solid;
	border-width: 1px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#raster {
  height: 300px;
  width: 90%;
  box-shadow: 5px 5px 5px #888888;
  border-style: solid;
  border-width: 1px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.number-header {
  border-top: 1px solid #000000;
  padding-top:5px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 20px;
}