<h2>Device Details</h2>
<!--
This file is protected by Copyright. Please refer to the COPYRIGHT file
distributed with this source distribution.

This file is part of REDHAWK admin-console.

REDHAWK admin-console is free software: you can redistribute it and/or modify it under
the terms of the GNU Lesser General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

REDHAWK admin-console is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more
details.

You should have received a copy of the GNU Lesser General Public License along
with this program.  If not, see http://www.gnu.org/licenses/.
-->
<div id="device" class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
      <h3>
        <strong>{{device.name}}</strong> <status info="device.status"></status>
        <div class="label label-default"><span ng-if="device.started">Started</span><span ng-if="!device.started">Stopped</span></div>
        <small>{{device.id}}</small>
      </h3>

    </div>




        <div class="panel-body">
          <properties info="device.properties"></properties>
        </div>



  </div>


</div>
</div>
  </div>