<h2>Device Managers</h2>
<!--
This file is protected by Copyright. Please refer to the COPYRIGHT file
distributed with this source distribution.

This file is part of REDHAWK admin-console.

REDHAWK admin-console is free software: you can redistribute it and/or modify it under
the terms of the GNU Lesser General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

REDHAWK admin-console is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more
details.

You should have received a copy of the GNU Lesser General Public License along
with this program.  If not, see http://www.gnu.org/licenses/.
-->
<div class="container">
  <div class="row">
    <div class="col-md-3">

      <div class="panel panel-default">
        <div class="panel-heading">
          Device Managers
        </div>

        <ul class="list-group selection">
          <a ng-repeat="item in redhawk.deviceManagers" ng-click="setManager(item.id)" ng-class="{'active': (setManager() == item.id) }" class="list-group-item">
            <b>{{item.name}}</b>
          </a>
          <a class="list-group-item" ng-hide="redhawk.deviceManagers">
            <i>No Device Managers found</i>
          </a>
        </ul>

        <div class="panel-footer">
          <div class="text-right text-muted">
            <small>{{redhawk.deviceManagers.length}} Device Managers</small>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-9">

      <div class="panel panel-default" ng-show="manager">
        <div class="panel-heading">
          <h3 class="panel-title">{{manager.name}} <status info="manager.status"></status> <small>{{manager.id}}</small><json-source json-data="manager"></json-source></h3>
        </div>
        <div class="panel-body">

          <div class="container-fluid">

            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">

                    <h4><span class="glyphicon glyphicon-tasks" ></span> Devices</h4>

                  </div>
                  <div class="col-md-12">

                    <ul class="list-group">
                      <li ng-repeat="(label, device) in manager.devices" class="list-group-item">
                        <device id="device.id" manager-id="manager.id" domain-id="manager.domainId"></device>
                      </li>
                    </ul>

                  </div>
                </div>
              </div>
              <div class="col-md-6">

                <properties info="manager.properties" can-edit="false" configure="configure(properties)"></properties>

              </div>
            </div>

          </div>

        </div>
      </div>


      <div class="center-block text-center text-muted" ng-hide="manager">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2><i class="icon-eye-close icon-3x"></i></h2>
            <h3>No Device Manager Selected</h3>
            <p>Try selecting one from the list on the left.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
