<h2>Overview</h2>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3><strong>{{redhawk.name}}</strong> <status info="redhawk.status"></status> <small>{{redhawk.id}} <json-source json-data="redhawk"></json-source></small></h3>
        </div>
        <div class="panel-body">

          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">

                <!--<div>-->
                <!--<h4>File System</h4>-->
                <!--<file-system domain-id="redhawk._restId"></file-system>-->
                <!--</div>-->

                <div class="row">
                  <div class="col-md-6">

                    <div class="text-center">
                      <h1 class="text-info">{{redhawk.waveforms.length}}</h1>
                      <h3 class="number-header ">Waveforms</h3>
                    </div>

                  </div>
                  <div class="col-md-6">

                    <div class="text-center">
                      <h1 class="text-info">{{redhawk.deviceManagers.length}}</h1>
                      <h3 class="number-header">Device Managers</h3>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">

                <properties info="redhawk.properties" can-edit="true" configure="configure(properties)"></properties>

              </div>
            </div>

            <!--<div class="row">-->
            <!--<div class="col-md-12">-->

            <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading">-->
            <!--<small>Event Messages</small>-->
            <!--</div>-->
            <!--<div class="panel-body">-->
            <!--Subscribed Channels:-->
            <!--<div class="container">-->
            <!--<div ng-repeat="item in channels">-->
            <!--<h6>{{item}}</h6>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<table class="table table-striped table-condensed">-->
            <!--<tr>-->
            <!--<th>Topic Id</th>-->
            <!--<th>Producer Id</th>-->
            <!--<th>Source Category</th>-->
            <!--<th>Source Id</th>-->
            <!--<th>Source Name</th>-->
            <!--</tr>-->
            <!--<tr ng-if="messages" ng-repeat="msg in messages | reverse">-->
            <!--<td>{{msg.topic}}</td>-->
            <!--<td>{{msg.message.producerId}}</td>-->
            <!--<td>{{msg.message.sourceCategory.__value}}</td>-->
            <!--<td>{{msg.message.sourceId}}</td>-->
            <!--<td>{{msg.message.sourceName}}</td>-->
            <!--</tr>-->
            <!--</table>-->
            <!--</div>-->

            <!--</div>-->
            <!--</div>-->
          </div>

        </div>
      </div>

    </div>
  </div>

</div>