<h2>Preferences</h2>
<!--
This file is protected by Copyright. Please refer to the COPYRIGHT file
distributed with this source distribution.

This file is part of REDHAWK admin-console.

REDHAWK admin-console is free software: you can redistribute it and/or modify it under
the terms of the GNU Lesser General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

REDHAWK admin-console is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more
details.

You should have received a copy of the GNU Lesser General Public License along
with this program.  If not, see http://www.gnu.org/licenses/.
-->
<div class="container">
    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">REDHAWK Hosts</h4>
                            </div>
                            <div class="panel-body">
                                <p>Use the following hosts for REDHAWK domain discovery:</p>
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="host in user.hosts">
                                        {{host}}
                                        <span class="badge"><i class="icon-remove-sign"
                                                               ng-click="remove_host($index)"></i></span>

                                    </li>
                                    <div class="alert alert-info" ng-show="!user.hosts.length">Host list is empty</div>
                                </ul>
                                <div class="input-group">
                                    <input class="form-control" ng-model="newhost" placeholder="Hostname/IP Address"></input>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" ng-click="add_host(newhost)">Add</button>
                                    </span>
                                </div>
                                <p><p></p>
                                If a domain is missing in the domain selector, it could be caused by:
                                <ul>
                                    <li>DomainManager not running on host</li>
                                    <li>The CORBA nameService is down</li>
                                    <li>Network connectivity between the web server and the host</li>
                                    <li>A firewall hiding ports (CORBA has issues with most firewalls)</li>
                                </ul>
                                </p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>