<h2>Waveforms</h2>
<!--
This file is protected by Copyright. Please refer to the COPYRIGHT file
distributed with this source distribution.

This file is part of REDHAWK admin-console.

REDHAWK admin-console is free software: you can redistribute it and/or modify it under
the terms of the GNU Lesser General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

REDHAWK admin-console is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more
details.

You should have received a copy of the GNU Lesser General Public License along
with this program.  If not, see http://www.gnu.org/licenses/.
-->
<div class="container">
  <div class="row">
    <div class="col-md-3">

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-7">

              <select ng-model="selectedWaveform" ng-options="item for item in waveforms" class="form-control"></select>

            </div>
            <div class="col-md-5">

              <button class="btn btn-default btn-block" ng-click="launch(selectedWaveform)" ng-class="{'disabled': !selectedWaveform}">Launch</button>

            </div>
          </div>
        </div>

        <ul class="list-group selection">
          <a ng-repeat="item in domain.applications" ng-click="setWaveform(item.id)" ng-class="{'active': (setWaveform() == item.id) }" class="list-group-item">
            <b>{{item.name}}</b>
          </a>
          <a class="list-group-item" ng-hide="domain.applications">
            <i>No Waveforms Running</i>
          </a>
        </ul>

        <div class="panel-footer">
          <div class="text-right text-muted">
            <small>{{domain.applications.length}} Waveforms Running</small>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-9">
      <waveform ng-show="domain.applications.length" id="currentWaveform" domain-id="domain._restId"></waveform>

      <div class="center-block text-center text-muted" ng-hide="domain.applications.length">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2><i class="icon-eye-close icon-3x"></i></h2>
            <h3>No Waveform Selected</h3>
            <p>Try selecting one from the list on the left or launching a new one.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>