<div class="container-fluid">
<!--
This file is protected by Copyright. Please refer to the COPYRIGHT file
distributed with this source distribution.

This file is part of REDHAWK admin-console.

REDHAWK admin-console is free software: you can redistribute it and/or modify it under
the terms of the GNU Lesser General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

REDHAWK admin-console is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more
details.

You should have received a copy of the GNU Lesser General Public License along
with this program.  If not, see http://www.gnu.org/licenses/.
-->
      <div class="row">
        <div class="col-md-8">

          <h6 class="list-group-item-heading">
            <strong>{{component.name}}</strong><br/>
            <small>{{component.id}}</small>
          </h6>

          <div>
            <start-status info="component.started"></start-status>
          </div>

        </div>
        <div class="col-md-4">

          <div class="btn-group ">
            <div class="btn-group">
              <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-bullhorn"></span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="port in component.ports">
                  <a ng-if="port.canPlot" ng-class="{'disabled': !port.plotType}" href="#/plot/waveform/{{component.waveform.id}}/component/{{component.id}}/port/{{port.name}}/{{port.plotType}}">
                    {{port.name}}
                  </a>
                </li>
              </ul>
            </div>
            <div class="btn-group">
              <properties info="component.properties" can-edit="true" configure="configure(properties)" compact="true"></properties>
            </div>
            <!--<div class="btn-group">-->
              <!--<json-source json-data="component"></json-source>-->
            <!--</div>-->
          </div>

        </div>
      </div>
</div>