<div class="modal-header">
  <button type="button" class="close" ng-click="close()">&times;</button>
  <h4 class="modal-title"><span class="glyphicon glyphicon-file" ></span> File Viewer <small>{{path}}</small></h4>
</div>
<div class="modal-body">
  <div hljs include="path"></div>
</div>
<div class="modal-footer">
  <a class="btn btn-link" href="{{path}}"><span class="glyphicon glyphicon-download"></span> Download</a>
  <button type="button" class="btn btn-default" ng-click="close()">Close</button>
</div>