<div class="modal-header">
<!--
This file is protected by Copyright. Please refer to the COPYRIGHT file
distributed with this source distribution.

This file is part of REDHAWK admin-console.

REDHAWK admin-console is free software: you can redistribute it and/or modify it under
the terms of the GNU Lesser General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

REDHAWK admin-console is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more
details.

You should have received a copy of the GNU Lesser General Public License along
with this program.  If not, see http://www.gnu.org/licenses/.
-->
  <button type="button" class="close" ng-click="close()">&times;</button>
  <h4 class="modal-title"><span class="glyphicon glyphicon-file" ></span> File Viewer <small>{{path}}</small></h4>
</div>
<div class="modal-body">
  <div hljs include="path"></div>
</div>
<div class="modal-footer">
  <a class="btn btn-link" href="{{path}}"><span class="glyphicon glyphicon-download"></span> Download</a>
  <button type="button" class="btn btn-default" ng-click="close()">Close</button>
</div>