<div class="panel panel-default">
<!--
This file is protected by Copyright. Please refer to the COPYRIGHT file
distributed with this source distribution.

This file is part of REDHAWK admin-console.

REDHAWK admin-console is free software: you can redistribute it and/or modify it under
the terms of the GNU Lesser General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

REDHAWK admin-console is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more
details.

You should have received a copy of the GNU Lesser General Public License along
with this program.  If not, see http://www.gnu.org/licenses/.
-->
  <div class="panel-heading">
    <h5 class="panel-title"><strong><span class="glyphicon glyphicon-hdd" ></span> {{filesystem.cwd || '/'}}</strong><json-source json-data="filesystem"></json-source></h5>

  </div>
  <div class="list-group">
    <a class="list-group-item" ng-click="loadFileSystem(filesystem.parent)">
      <span class="glyphicon glyphicon-circle-arrow-left" ></span> Up
    </a>
    <div ng-repeat="item in filesystem.data.children track by $index" >
      <a ng-if="item.directory" class="list-group-item"  ng-click="loadFileSystem(filesystem.cwd+'/'+item.name)">
        <span class="glyphicon glyphicon-folder-open" ></span>
        <small>{{item.name}}</small>
      </a>
      <div ng-if="!item.directory" class="dropdown">
        <a  class="list-group-item"  id="dropdownMenu-{{$id}}" data-toggle="dropdown">
          <span class="glyphicon glyphicon-file" ></span>
          <small>{{item.name}}</small>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu-{{$id}}">
          <li role="presentation" ng-class="{'disabled': !item.canView}" >
            <a role="menuitem" ng-click="fileViewer(filesystem.cwd+'/'+item.name)"><span class="fa fa-code"></span> File Viewer</a>
          </li>
          <li role="presentation" class="divider"></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="{{fileUrl(filesystem.cwd+'/'+item.name)}}">
            <span class="glyphicon glyphicon-download"></span> Download</a>
          </li>
          <li role="presentation" ng-class="{'disabled': !item.canLaunch}">
            <a role="menuitem" tabindex="-1" ng-click="launchWaveform(filesystem.cwd+'/'+item.name, item.launchName+'-'+$id)"><span class="fa fa-paper-plane"></span> Launch</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>