
<div ng-if="prop.scaType == 'simple'" class="well well-sm">
  <span class="name">{{prop.name}}:</span>
  <span class="name" ng-if="!prop.name">{{prop.id}} (id)</span>
  <span class="value" ng-class="{muted: !prop.canEdit}"> {{prop.value}}</span>
  <span ng-if="[prop.scaType == 'simpleSeq']" ng-repeat="item in prop.value track by $index">{{item}} </span>
</div>

<div ng-if="prop.scaType == 'simpleSeq'" class="well well-sm">
  <span class="name">{{prop.name}}:</span>
  <span class="name" ng-if="!prop.name">{{prop.id}} (id)</span>
  <span class="value" ng-class="{'text-muted': !prop.canEdit}"> {{prop.value}}</span>
  <span ng-if="prop.scaType == 'simpleSeq'" ng-repeat="item in prop.value track by $index">{{item}} </span>
</div>

<div ng-if="prop.scaType == 'struct'">
  <dl class="dl-horizontal">
    <span ng-repeat="(k,v) in prop.value">
      <dt>{{k}}</dt>
      <dd>{{v}}</dd>
    </span>
  </dl>
</div>

<div ng-if="prop.scaType == 'structSeq'">
  <dl class="dl-horizontal" ng-repeat="struct in prop.value">
    <span ng-repeat="(k,v) in struct">
      <dt>{{k}}</dt>
      <dd>{{v}}</dd>
    </span>
  </dl>
</div>

