<div ng-if="!compact">
<!--
This file is protected by Copyright. Please refer to the COPYRIGHT file
distributed with this source distribution.

This file is part of REDHAWK admin-console.

REDHAWK admin-console is free software: you can redistribute it and/or modify it under
the terms of the GNU Lesser General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

REDHAWK admin-console is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more
details.

You should have received a copy of the GNU Lesser General Public License along
with this program.  If not, see http://www.gnu.org/licenses/.
-->
  <h4 ng-if="title === undefined ? true : title"><span class="fa fa-gears" ></span> Properties <json-source json-data="properties"></json-source></h4>
  <div class="container-fluid" onload="this.tooltip()">
    <form role="form" class="form-inline" ng-submit="submit()">

        <table class="table table-striped table-condensed">
          <tr>
            <th>Label</th>
            <th>Value</th>
          </tr>
          <tr ng-repeat="prop in properties | orderBy: 'name'" ng-class="{'text-muted': !prop.canEdit}">
            <td  data-toggle="tooltip" data-placement="auto" title="{{prop.description.trim()}}">

              <span>
                {{prop.name}}
                <span class="name" ng-if="!prop.name">{{prop.id}}</span>
                <span class="label label-default" ng-if="prop.scaType == 'simpleSeq'">Sequence</span>
                <span class="label label-default" ng-if="prop.scaType == 'struct'">Struct</span>
                <span class="label label-default" ng-if="prop.scaType == 'structSeq'">Struct Sequence</span>
              </span>

            </td>
            <td>

              <div ng-if="prop.canEdit && edit" class="form-group">

                <select ng-if="prop.type == 'boolean'"
                        class="form-control"
                        ng-model="form[prop.id]" ng-options="o.value as o.name for o in booleanSelectOptions">
                </select>
                <select ng-if="prop.enumerations" class="form-control" ng-model="form[prop.id]" ng-options="value as label for (label, value) in prop.enumerations"></select>

                <input ng-if="prop.type != 'boolean' && !prop.enumerations" type="text" class="form-control" ng-model="form[prop.id]" value="{{prop.value}}"/>
                <span ng-if="prop.definition.units">{{prop.definition.units}}</span>
              </div>

              <div ng-if="!prop.canEdit || !edit">
                <span class="value" ng-if="prop.scaType == 'simple'">{{prop.value}}</span>
                <span ng-if="prop.scaType == 'simpleSeq'" ng-repeat="item in prop.value track by $index">{{item}} </span>
                <span ng-if="prop.scaType == 'sequence'">
                  <property info="prop"></property>
                </span>
                <div ng-if="prop.scaType == 'struct'">
                  <property info="prop"></property>
                </div>
                <div ng-if="prop.scaType == 'structSeq'">
                  <property info="prop"></property>
                </div>
                <span ng-if="prop.definition.units">{{prop.definition.units}}</span>
              </div>

            </td>
          </tr>
          <tr ng-if="canEdit">
            <td colspan="2">
              <button type="submit" class="btn btn-default" ng-if="edit">Configure</button>
              <a class="btn btn-link" ng-click="toggleEdit()">
                <i class="fa" ng-class="{'fa-unlock': edit, 'fa-lock': !edit}"></i>
              </a>
            </td>
          </tr>
        </table>
    </form>

  </div>
</div>

</div>
<span ng-if="compact">
  <button class="btn btn-sm btn-default" data-toggle="modal" data-target="#properties-{{$id}}">
    <span class="fa fa-gears"></span>
  </button>
  <div class="modal fade" id="properties-{{$id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><span class="fa fa-gears"></span> Properties <small><json-source json-data="properties"></json-source></small></h4>
        </div>
        <div class="modal-body">
          <properties info="properties" can-edit="canEdit" configure="configure({properties: properties})" title="false"></properties>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</span>