
<!--
This file is protected by Copyright. Please refer to the COPYRIGHT file
distributed with this source distribution.

This file is part of REDHAWK admin-console.

REDHAWK admin-console is free software: you can redistribute it and/or modify it under
the terms of the GNU Lesser General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

REDHAWK admin-console is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more
details.

You should have received a copy of the GNU Lesser General Public License along
with this program.  If not, see http://www.gnu.org/licenses/.
-->
<div ng-if="prop.scaType == 'simple'" class="well well-sm">
  <span class="name">{{prop.name}}:</span>
  <span class="name" ng-if="!prop.name">{{prop.id}} (id)</span>
  <span class="value" ng-class="{muted: !prop.canEdit}"> {{prop.value}}</span>
  <span ng-if="[prop.scaType == 'simpleSeq']" ng-repeat="item in prop.value track by $index">{{item}} </span>
</div>

<div ng-if="prop.scaType == 'simpleSeq'" class="well well-sm">
  <span class="name">{{prop.name}}:</span>
  <span class="name" ng-if="!prop.name">{{prop.id}} (id)</span>
  <span class="value" ng-class="{'text-muted': !prop.canEdit}"> {{prop.value}}</span>
  <span ng-if="prop.scaType == 'simpleSeq'" ng-repeat="item in prop.value track by $index">{{item}} </span>
</div>

<div ng-if="prop.scaType == 'struct'">
  <dl class="dl-horizontal">
    <span ng-repeat="(k,v) in prop.value">
      <dt>{{k}}</dt>
      <dd>{{v}}</dd>
    </span>
  </dl>
</div>

<div ng-if="prop.scaType == 'structSeq'">
  <dl class="dl-horizontal" ng-repeat="struct in prop.value">
    <span ng-repeat="(k,v) in struct">
      <dt>{{k}}</dt>
      <dd>{{v}}</dd>
    </span>
  </dl>
</div>

