<span ng-switch on="status.severity">
<!--
This file is protected by Copyright. Please refer to the COPYRIGHT file
distributed with this source distribution.

This file is part of REDHAWK admin-console.

REDHAWK admin-console is free software: you can redistribute it and/or modify it under
the terms of the GNU Lesser General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

REDHAWK admin-console is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more
details.

You should have received a copy of the GNU Lesser General Public License along
with this program.  If not, see http://www.gnu.org/licenses/.
-->
    <span ng-switch-when="OK">
        <span class="label label-success">{{status.severity}}</span>
    </span>
    <span ng-switch-when="WARNING">
        <span class="label label-warning">{{status.severity}}</span>
    </span>
    <span ng-switch-when="ERROR">
        <span class="label label-danger">{{status.severity}}</span>
    </span>
    <span ng-switch-default>
        <span class="label label-default">{{status.severity}}</span>
    </span>
</span>