<div class="panel panel-default">
<!--
This file is protected by Copyright. Please refer to the COPYRIGHT file
distributed with this source distribution.

This file is part of REDHAWK admin-console.

REDHAWK admin-console is free software: you can redistribute it and/or modify it under
the terms of the GNU Lesser General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

REDHAWK admin-console is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more
details.

You should have received a copy of the GNU Lesser General Public License along
with this program.  If not, see http://www.gnu.org/licenses/.
-->
  <div class="panel-heading">
    <h3 class="panel-title">
      <b>{{waveform.name}}</b>
      <status info="waveform.status"></status>
      <small>{{waveform.id}}</small>
      <small><json-source json-data="waveform"></json-source></small></h3>
  </div>
  <div class="panel-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 well">

          <div class="row">
            <div class="col-md-8">
              <h4><span class="fa fa-power-off" ></span> Status  </h4>
            </div>
            <div class="col-md-4">

              <start-status class="pull-right" info="waveform.started"></start-status>

            </div>
            <div class="col-md-12">

              <div class="btn-toolbar">
                <div class="btn-group">
                  <button class="btn btn-default btn-lg" ng-if="!waveform.started" ng-click="waveform.start()"><span class="glyphicon glyphicon-play"></span></button>
                  <button class="btn btn-default btn-lg" ng-if="waveform.started" ng-click="waveform.stop()"><span class="glyphicon glyphicon-stop"></span></button>
                  <button class="btn btn-default btn-lg" ng-click="waveform.release()"><span class="glyphicon glyphicon-eject"></span></button>
                </div>
              </div>

            </div>

          </div>
          <div class="row">
            <div class="col-md-12">
              <div ng-repeat="msg in messages" class="alert" ng-class="{'alert-danger': msg.is_warning, 'alert-info': !msg.is_warning}">
                <small>{{msg.text}}</small>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-md-12">

              <div>
                <h4><span class="glyphicon glyphicon-briefcase" ></span> Components</h4>
                <ul class="list-group">
                  <li ng-repeat="comp in waveform.components" class="list-group-item">
                    <component id="comp.id" waveform-id="waveform.id" domain-id="domainId"></component>
                  </li>
                </ul>
              </div>

              <div>
                <h4><span class="glyphicon glyphicon-bullhorn" ></span> Ports</h4>
                <ul class="list-group">
                  <li ng-repeat="port in waveform.ports" class="list-group-item">
                    <a ng-if="port.canPlot" href="#plot/waveform/{{waveform.id}}/port/{{port.name}}/{{port.plotType}}">{{port.name}}</a>
                  </li>
                </ul>
              </div>

            </div>
          </div>

        </div>
        <div class="col-md-6">

          <div>
            <properties info="waveform.properties" can-edit="true" configure="configure(properties)"></properties>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>